.idea

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# For Mysql
data/mysql/auto.cnf
data/mysql/ib_logfile0
data/mysql/ib_logfile1
data/mysql/ibdata1
data/mysql/mysql/
data/mysql/performance_schema/
