<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">管理对象</a>
        <dl class="layui-nav-child">
          {% for model in models %}
          <dd><a href="/manage/{{ model.name }}/index" {% if model.name == current_model.name %}class="layui-this"}{% end %}>{{ model.title }}</a></dd>
          {% end %}
        </dl>
      </li>
    </ul>
  </div>
</div>